.menuContainer {
    position: relative;
    display: inline-block;
}

.logInBtn {
    font-weight: 300;
    border: none;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
}

.logInBtn:hover {
    color: rgb(180, 180, 180);
}

.toggleMenuBtn {
    font-size: 1.25rem;
    font-weight: 500;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggleMenuBtn:hover {
    background-color: #242625;
}

.menuPanel {
    position: absolute;
    right: 0;
    top: 120%;
    width: 200px;
    background-color: #2a2a2a;
    color: white;
    border-radius: 8px;
    padding: 5px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
}

.menuPanel.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.menuPanel ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menuPanel li {
    padding: 10px 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menuPanel li:hover {
    background-color: #3a3a3a;
}

.icon {
    margin-right: 10px;
}