.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mainContainer h1 {
    color: white;
}

.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
}